<div class="card">
  <a href="{{ .slug }}" class="href-image">
    {{- $page := site.GetPage .slug -}}
    {{- if $page -}}
      {{- $img := $page.Resources.GetMatch .image -}}
      {{- if $img -}}
        {{- $webpSmall := $img.Process "resize 480x webp" -}}
        {{- $webp := $img.Process "webp" -}}
    <picture>
      <source srcset="{{ $webpSmall.RelPermalink }}" type="image/webp" media="(max-width: 480px)">
      <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
      <img src="{{ $img.RelPermalink }}" alt="{{ .name }}" loading="lazy">
    </picture>
      {{- else -}}
    <picture>
      <img src="/{{ .slug }}/{{ .image }}" alt="{{ .name }}" loading="lazy">
    </picture>
      {{- end -}}
    {{- else -}}
    <picture>
      <img src="/{{ .slug }}/{{ .image }}" alt="{{ .name }}" loading="lazy">
    </picture>
    {{- end -}}
  </a>
  <h2><a href="{{ .slug }}">{{ .name }}</a></h2>
  {{ if .description }}<p>{{ .description }}</p>{{ end }}
  {{if .tags}}
  <ul id="tags" class="tags flex-row">
    {{ range .tags }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>
  <time datetime="{{ .date | dateFormat `2006-01-02` }}">{{ .date | dateFormat "2006-01-02" }}</time>
  {{end}}
</div>