@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@view-transition {
    navigation: auto;
}

:root {
    --yellow: rgb(255, 205, 0);
    --yellow-background: rgba(255, 205, 0, 0.05);
    --green: rgb(0, 132, 61);
    --green-background: rgba(0, 132, 61, 0.05);
    --surface-3: rgb(245, 245, 245);
    --text-1: rgb(0, 0, 0);


}

html:not([data-theme]) {
    color-scheme: light dark;
    background: var(--surface-3);
    color: var(--text-1);
}

img {
    max-width: 100%;
}

:where(a) {
    text-decoration: none;
}
:where(figure) {
    margin-inline: 0;
}


:where(html[data-theme="light"]) {
    color-scheme: light;
    color: black;
    /* color variables */
    --hover-background: var(--green-background);
    --active: var(--green);
    --hover: var(--green);
    /* color variables */

    & a {
        color: black;
    }

    & a:hover {
        color: var(--hover);
    }

    & .card {
        border: 1px solid rgb(230, 230, 230);
    }
}



:where(html[data-theme="dark"]) {
    --active-color: rgb(254, 206, 0);
    color-scheme: dark;
    color: white;

    --hover-background: var(--yellow-background);
    --active: var(--yellow);
    --hover: var(--yellow);

    & a {
        color: white;
    }

    & a:hover {
        color: var(--yellow);
    }


    & .card {
        border: 1px solid rgb(78, 78, 78);
    }
}


body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    width: 80vw;
    margin: 0 auto;
}

nav ul {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    align-items: center;
}


nav ul li:first-child {
    margin-right: auto;
}

.logo a {
    font-size: 2.5rem;
    font-weight: 300;
    color: deepskyblue;
}

body * {
    box-sizing: border-box;
}

.active {
    font-weight: 700;
    color: var(--active, black);
}


main:has(.card) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
    padding: .75rem;
    border-radius: .5rem;

    & img {
        width: 100%;
        height: auto;
    }

    & h2 {
        font-size: 1.5rem;
        font-weight: 400;
    }


    &:hover {
        /* border-color: var(--hover); */
        background: var(--hover-background);
    }

    img {
        border-radius: .375rem;
    }

    .tags {
        font-size: 0.875rem;
        margin-block: 0.25em;
        padding-block: 0.25em;

        & li:not(:first-child) {
            margin-inline-start: 1rem;
        }

        li:hover {
            cursor: pointer;
            color: var(--hover);
        }
    }

}



ul {
    list-style: none;
    padding: 0;
}



.flex-row {
    display: flex;
}



time {
    font-size: 0.75rem;
    margin-top: 0.5rem;
    color: rgb(150, 150, 150);
}

.section {
    & img {
        width: 100%;
        height: auto;
    }
}

@media (width < 576px) {
    body {
        width: 95vw;
    }

    .card {
        padding: 1rem 0;
        border: none;
    }
}

.theme-btn {
    background: none;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    font-size: 1.25rem;
}


footer {
    margin-block: 2rem;

    & ul {
        display: flex;
        gap: 1rem;
        padding: 1rem 0;
        justify-content: flex-start;
        font-size: .75rem;
    }

}