{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $caption := .Get "caption" }}

{{ $img := .Page.Resources.GetMatch $src }}
{{ if $img }}
  {{ $webpSmall := $img.Process "resize 576x webp" }}
  {{- $webp := $img.Process "webp" -}}
<figure>
  <picture>
    <source srcset="{{ $webpSmall.RelPermalink }}" type="image/webp" media="(max-width: 480px)" loading="lazy">
    <source srcset="{{ $webp.RelPermalink }}" type="image/webp" loading="lazy">
    <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}" loading="lazy" decoding="async">
  </picture>
  {{ with $caption }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>
{{ else }}
<figure>
  <img src="{{ $src }}" alt="{{ $alt }}" loading="lazy">
  {{ with $caption }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>
{{ end }}


